Source: apk-icon-editor
Section: editors
Priority: optional
Maintainer: iMiKED <M-I-B@yandex.ru>
Build-Depends: debhelper (>= 13), qt6-base-dev, qt6-tools-dev-tools, g++, make, zlib1g-dev
Standards-Version: 4.7.0
Homepage: https://github.com/iMiKED/apk-icon-editor
Vcs-Git: https://github.com/iMiKED/apk-icon-editor.git
Vcs-Browser: https://github.com/iMiKED/apk-icon-editor

Package: apk-icon-editor
Architecture: any
Depends: zipalign, default-jdk-headless | java17-runtime-headless | java17-runtime, ${shlibs:Depends}, ${misc:Depends}
Description: Simple APK resource editor
 APK editor designed to easily change
 APK icons, name, version and other resources.
